.body{
    
    text-align: center;
    background-size:cover;
    background-position:center;
    height:100vh;
    padding:0 20px;
    background-image:url('https://wallpaperaccess.com/full/254361.jpg')
    
}